/* Validate at http://jigsaw.w3.org/css-validator/ */

body {
    font-family: "Courier New", "Lucida Console", Monospace;
    color: white; /* Make text contrast with background image. */
	background-color:black;
	background: url(../images/background_small.png);
    /*max-width: 50em;*/
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}

a {
	position:relative;
	color:green;
	padding-left:10em;
	
}

a.hover {
	color:red;
}

a.visited {
	color:purple;
}

button {
    border-radius: 0.5em;
}

form {
    max-width: 30em; /* Must be thinner than body. */
    margin-left: auto;
    margin-right: auto;
	margin-top:10em;
}

/*Code for text boxes with glowing borders. */
input {
    border: 2px solid #dadada;
    border-radius: 0.5em;
}

/*Code for text boxes with glowing borders. */
input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
	
}

/*nav is a featured div in html5 for use as a nav bar.... who woulda thought....*/
nav {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:-13em;
	height:1.5em; /*for testing*/
	/*background-color:black; for testing purposes yet again...*/
}

/*same as nav but header*/
header {
	height:20em;
	background: url(../images/banner.jpg) no-repeat;
	background-size:100%;
	margin-top:-13em;
}